@import 'reset';
@import 'responsive';

/*Colors*/
$DarkBlue: hsl(234, 12%, 34%);
$GrayishBlue: hsl(229, 6%, 66%);
$LightGray: hsl(0, 0%, 98%);

$border-colors: (
    2: hsl(0, 78%, 62%),
    1: hsl(180, 62%, 55%),
    3: hsl(34, 97%, 64%),
    4: hsl(212, 86%, 64%)
);

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: $LightGray;
    color: $GrayishBlue;
    font-size: 15px;

    header{
        text-align: center;
        margin: 20px auto;
        img{
            width: 10vw;
        }
    }

    main{
        padding: 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-template-areas: 
        "boxT boxT boxT"
        "box1 box2 box3";
        align-items: center;
        justify-content: center;

        .main-container__intro{
            grid-area: boxT;
            width: 35vw;
            margin: 0 auto 40px;            
            text-align: center;
            &-text{
                color: $DarkBlue;
                p{
                    font-size: 1.5rem;
                    font-weight: 400;
                }

                h1{
                    font-weight: 600;
                    font-size: 1.8rem;
                    margin-bottom: 10px;               
                }
            }
        }

        @for $i from 1 through 4 {
            .card-#{$i}{
                border-top: 3px solid map-get($border-colors , $i);
            }
        }

        .card{                
            background: white;
            border-radius: 5px;
            margin-bottom: 30px;
            padding: 30px;
            text-align: left;
            box-shadow: 0 6px 15px $GrayishBlue;
            max-height: 250px;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;

            &:hover{
                cursor: pointer;
                animation-name: bounce;
                -moz-animation-name: bounce;
            }

            h2{
                font-size: 1.5rem;
                font-weight: 600;
                color: $DarkBlue;
                margin-bottom: 5px;
            }

            p{
                font-size: .75rem;
                font-weight: 600;                
                font-weight: 200;
                margin-bottom: 30px;
            }

            .image-wrap{
                display: flex;
                justify-content: flex-end;

                img{
                    width: 30%;
                    max-width: 60px;
                }
            }
        }
        
        .card-1{
            grid-area: box1;
        }
        
        .mid-cards{
            grid-area: box2;
        }
        
        .card-4{
            grid-area: box3;
        }
    }

    footer{
        justify-content: center;
        margin-bottom: 20px;
        img{            
            width: 100px;
            margin: 0px auto -10px;
        }
    }

    @include large-sc{
        main{
            .main-container__intro{
                width: 70vw;
            }

            .card{                
                padding-top: 20px;
            }
        }
    }
    @include medium-sc{
        main{
            padding: 0 20%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "boxT"
            "box1"
            "box2"
            "box3";
            align-items: center;
            
            .card{                
                max-width: 500px;                
                align-self: center;
            }
        }
    }

    @include mobile{
        header{
            div{
                font-size: .8rem;
            }
            img{
                width: 80px;
            }
        }

        main{
            padding: 0 10%;
            font-size: .6rem;

            .main-container__intro{
                width: 80vw;
                &-text{
                    p{
                        font-size: .8rem;
                    }
                    h1{
                        font-size: 1rem;
                    }
                }
            }

            .card{
                padding: 20px;
                h2{
                    font-size: 1rem;
                }
                p{
                    font-size: .6rem;
                }
            }
        }

        footer{
            font-size: .8rem;
            img{            
                width: 50px;
                margin: 0px auto -3px;
            }
        }
    }
}



